<ul class="filter-list">
  <li class="filter-list-item">
    <button id="budgetFilter" class="dropdown-trigger filter-dropdown">Budget</button>
  </li>
  <li class="filter-list-item">
    <button id="dateRangeFilter" class="dropdown-trigger filter-dropdown">Date Range</button>
  </li>
  <li class="filter-list-item">
    <button id="capacityFilter" class="dropdown-trigger filter-dropdown">Capacity</button>
  </li>
  <li class="filter-list-item">
    <button id="ratingFilter" class="dropdown-trigger filter-dropdown">Rating</button>
  </li>
  <li class="filter-list-item">
    <button id="venueTypeFilter" class="dropdown-trigger filter-dropdown">Type of Venue</button>
  </li>
  <li class="filter-list-item">
    <button id="amenitiesFilter" class="dropdown-trigger filter-dropdown">Amenities</button>
  </li>
</ul>
