/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

html, body {
  margin: 0;
  border: 0;
  padding: 0;
  min-width: 900px;
  width: 100%;
  font-family: tahoma, geneva, arial;
}

input[type=text],
input[type=submit] {
  border: none;
  border-radius: 2px;
  height: 26px;
  line-height: 14px;
}

input[type=text] {
  padding: 0 4px;
  font-size: 12px;
}

button,
input[type=submit] {
  padding: 0 12px;
  background-color: #8396a4;
  font-weight: bold;
  color: #ffffff;
}

.ui-corner-all {
  border-radius: 1px;
}

.dropdown-trigger {
  margin: 0 0 0 8px;
  border-color: #a1aec1;
  padding-right: 12px;
  height: 20px;
  line-height: 11px;
  color: #999999;
  background: #ffffff url('/assets/dropdown_icon.png') right center no-repeat;
}

.dropdown-trigger > .ui-button-text {
  padding: 0 4px;
  background-color: #ffffff;
}

.header {
  margin: 0 auto;
  width: 900px;
  background-color: #ffbe9e;
}

.logo {
  margin-left: 18px;
}

.main {
  margin: 0 auto;
  width: 900px;
}

.home-search-container {
  position: relative;
  margin: 0 auto;
  padding-top: 176px;
  width: 900px;
  height: 216px;
  background-image: url('/assets/landing_background.jpg');
  background-size: contain;
}

.home-search {
  display: inline-block;
  margin-left: 211px;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.4);
}

.home-search-budget {
  width: 96px;
}

.home-search-date-range {
  display: inline-block;
  margin-left: 23px;
  text-align: left;
}

.home-search-date-to {
  margin-left: 3px;
}

.home-search-submit {
  margin-left: 15px;
}

.date-input {
  padding: 0 4px;
  width: 91px;
  height: 26px;
}

.datepicker-icon {
  margin-left: -30px;
  vertical-align: middle;
}

.date-range-picker-container {
  position: absolute;
  left: 0;
  display: none;
  margin-top: 4px;
  padding: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 10px;
}

.date-range-from-container,
.date-range-to-container {
  display: inline-block;
}

.date-range-button-container {
  margin-top: 5px;
  border-top: 1px solid #aaaaaa;
  padding: 4px;
  text-align: right;
}

.sidebar {
  float: left;
  margin: 19px 21px 0 14px;
}

.venue_map {
  margin-bottom: 16px;
  border: 1px solid #cccccc;
  padding: 4px 3px;
}

.filter-list {
  margin: 0;
  padding: 0;
  width: 208px;
  list-style-type: none;
}

.filter-list-item {
  margin-bottom: 6px;
}

.filter-dropdown {
  margin: 0;
  height: 21px;
  width: 208px;
  text-align :left;
}

.filter-dropdown > .ui-button-text {
  color: #000000;
  font-size: 14px;
}

.results-panel {
  float: left;
  width: 648px;
}

.results-header {
  margin: 19px 0 0;
  padding-bottom: 6px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
}

.search-matching-count {
  font-weight: bold;
}

.sort-container {
  float: right;
  color: #8395a3;
  font-size: 11px;
  font-weight: bold;
  line-height: 13px;
}

.venue-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: #999999;
}

.venue-list-item {
  position: relative;
  height: 145px;
  border-top: 1px solid #a4acbf;
  padding: 7px 0 17px;
  overflow: hidden;
}

.venue-list-item-image {
  float: left;
  margin-right: 21px;
  width: 222px;
  height: 145px;
}

.package-details {
  position: relative;
  float: right;
  width: 109px;
  height: 150px;
  color: #333333;
  text-align: center;
}

.package-price {
  display: inline-block;
  font-size: 28px;
  padding-left: 11px;
  background: url('/assets/venue/cost_dollar_sign.png') left 10px no-repeat;
}

.package-price-label {
  line-height: 9px;
  font-size: 9px;
}

.package-max-people {
  margin-top: 9px;
}

.package-max-people-count {
  display: inline-block;
  text-align: left;
}

.package-max-people-label {
  display: inline-block;
  text-align: left;
  font-size: 9px;
  width: 30px;
}

.bookmark {
  display: none;
  position: absolute;
  right: 0;
  bottom: 0;
  border: none;
  padding-left: 27px;
  width: 109px;
  height: 26px;
  background: #8496a4 url('/assets/venue/bookmark_icon.png') 6px center no-repeat;
  color: #ffffff;
  font-size: 13px;
  font-family: arial;
}

.bookmark > .ui-button-text {
  padding: 8px 7px 8px 0;
  line-height: 10px;
}

.venue-list-item:hover .bookmark {
  display: block;
}

.venue-name {
  color: #999999;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.venue-location {
  font-size: 13px;
}

.venue-reviews-summary {
  position: absolute;
  bottom: 16px;
  left: 243px;
  right: 166px;
  font-size: 13px;
  color: #333333;
}

.venue-review-message {
  margin-bottom: 3px;
}

.venue-review-stars {
  float: left;
  height: 16px;
  width: 80px;
  background-image: url('/assets/venue/star_off.png');
}

.venue-reviews-link {
  display: block;
  float: right;
  border-bottom: 1px solid transparent;
  padding-right: 17px;
  line-height: 16px;
  background: url('/assets/more_details_icon.png') right center no-repeat;
  color: #333333;
  font-weight: bold;
  text-decoration: none;
}

.venue-name:hover {
  text-decoration: underline;
}

.venue-reviews-link:hover {
  border-color: #333333;
}
